In [ ]:
import pandas as pd
import sqlite3
import tqdm
import random

# Exercise

# 1


df = pd.read_csv("data/Chap1/bc.csv")

print(len(df.axes[0]))

print(len(df.axes[1]))

In [ ]:
#2
conn = sqlite3.connect('data/bc.db')
c = conn.cursor()

In [ ]:
#3
def create_table():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS tomatch(id_ INT PRIMARY KEY, "rdm_float" FLOAT)""")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table()

In [ ]:
#4
query = """INSERT INTO tomatch(id_,rdm_float) VALUES (?,random())"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,2)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

In [ ]:
#5
c.execute("""SELECT avg(rdm_float), count(rdm_float), max(rdm_float), min(rdm_float), sum(rdm_float) FROM bc
             INNER JOIN tomatch ON tomatch.id_=bc.id""")

docs = c.fetchall()
print(docs)

In [ ]:
#6
             WHERE "radius_mean" > 15""")
docs2 = c.fetchall()
print(docs2)

c.execute("""SELECT count(texture_mean) FROM bc
             WHERE "radius_mean" > 15 AND "texture_mean" > 20""")
docs3 = c.fetchall()
print(docs3)

In [ ]:
#7
c.execute("""SELECT diagnosis, round(avg(radius_mean),2) FROM bc GROUP BY diagnosis""")
docs4 = c.fetchall()
print(docs4)
print(round((docs4[1][1] - docs4[0][1]),2))

In [ ]:
#8
c.execute("""ALTER TABLE bc RENAME COLUMN diagnosis TO label""")
conn.commit()

In [ ]:
#9
c.execute("""ALTER TABLE bc ADD day DATE""")
conn.commit()

In [ ]:
#10
c.execute("ALTER TABLE bc ADD COLUMN area_mean_integer INTEGER")
conn.commit()
c.execute("UPDATE bc SET area_mean_integer = CAST(area_mean AS INTEGER)")
conn.commit()

In [ ]:
#11
c.execute("""CREATE TABLE IF NOT EXISTS tomatch2(id_ INT PRIMARY KEY, "rdm_float" FLOAT)""")
conn.commit()

query = """INSERT INTO tomatch2(id_,rdm_float) VALUES (?,random())"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,10)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

In [ ]:
#12
c.execute("""SELECT * FROM bc
             INNER JOIN tomatch2 ON tomatch2.id_ = bc.id
             INNER JOIN tomatch ON tomatch.id_ = bc.id
             WHERE bc.radius_mean > 15
             AND tomatch.rdm_float > 0.5
             AND tomatch2.rdm_float > 0.5""")
docs5 = c.fetchall()
print(docs5)

In [ ]:
# mySQL
#1

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="example"
)

c = mydb.cursor()
c.execute( """
    SELECT COUNT(*)
    FROM sample_superstore
""")

c.fetchone()[0]

In [ ]:
#2
c.execute("""SELECT SUM('Sales') AS total_sales
             FROM sample_superstore""")

c.fetchone()[0]

In [ ]:
#3
c.execute( """
    SELECT AVG(Profit)
    FROM sample_superstore
""")

c.fetchone()[0]

In [ ]:
#4
c.execute("""
    SELECT 'Customer Name', COUNT(*) AS order_count
    FROM sample_superstore
    GROUP BY 'Customer ID', 'Customer Name'
    ORDER BY order_count DESC
    LIMIT 1
""")

c.fetchone()

In [ ]:
#5
c.execute( """
    SELECT 'Product Category', SUM(Profit)
    FROM sample_superstore
    GROUP BY 'Product Category'
""")

c.fetchall()

In [ ]:
#6
c.execute("""
    SELECT AVG('Discount') AS average_discount
    FROM sample_superstore
""")

c.fetchone()[0]* 100

In [ ]:
#7
c.execute( """
    SELECT Region, SUM(Sales) 
    FROM sample_superstore
    GROUP BY Region
    ORDER BY SUM(Sales) DESC
    LIMIT 1;
""")

count = c.fetchone()

In [ ]:
#8
c.execute( """
    SELECT 'Ship Mode', COUNT(*) 
    FROM sample_superstore
    GROUP BY 'Ship Mode';
""")

c.fetchall()

In [ ]:
#9
c.execute("""
    SELECT 'Product Sub-Category', SUM('Quantity ordered new') AS total_Q_o_n
    FROM sample_superstore
    GROUP BY 'Product Sub-Category'
    ORDER BY total_Q_o_n DESC
""")

c.fetchall()

In [ ]:
#10
c.execute("""
    SELECT 'Product Name',(SUM(Profit) / SUM(Sales)) AS profit_margin
    FROM sample_superstore
    GROUP BY 'Product Name'
    ORDER BY profit_margin desc LIMIT 1;
""")

c.fetchone()

In [ ]:
#12
c.execute( """
    SELECT AVG(Sales), 'Customer Segment'
    FROM sample_superstore
    GROUP BY 'Customer Segment'
    ORDER BY AVG(Sales) DESC
    LIMIT 1;
""")